services:
  php:
    build:
      context: ./docker/php
    container_name: symfony-php
    working_dir: /var/www/app
    volumes:
      - ./app:/var/www/app
    environment:
      APP_ENV: dev
    depends_on:
      - db

  web:
    image: nginx:1.27-alpine
    container_name: symfony-nginx
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: symfony-mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - "14333:1433"
    volumes:
      - mssql_data:/var/opt/mssql

  authapi:
    build:
      context: ./auth-api
    container_name: auth-api
    environment:
      ASPNETCORE_URLS: http://+:5000
      ASPNETCORE_ENVIRONMENT: Development
      JwtSecret: ${JWT_SECRET}
      ConnectionStrings__DefaultConnection: "Server=db;Database=AuthDb;User Id=sa;Password=${MSSQL_SA_PASSWORD};TrustServerCertificate=True;Encrypt=False;"
    ports:
      - "5000:5000"
    depends_on:
      - db


  sonar-db:
    image: postgres:16-alpine
    container_name: sonarqube-db
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonar
    volumes:
      - sonar_db_data:/var/lib/postgresql/data

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    depends_on:
      - sonar-db
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://sonar-db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
    ports:
      - "9000:9000"
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_logs:/opt/sonarqube/logs

volumes:
  mssql_data:
  sonar_db_data:
  sonar_data:
  sonar_extensions:
  sonar_logs:
