APP_ENV=dev
APP_SECRET=123@Testing@t&t
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost

DB_HOST=db
DB_PORT=1433
DB_NAME=CustomerDb
DB_USER=sa
DB_PASSWORD='@PruebaT&T'
DB_TRUST_SERVER_CERT=true

APP_ENCRYPTION_KEY="8B3F2F9A72E4D6C19EC4B318A7C52F9C8BF3E7126AD9FC9B43F2A16CE9D3A8F1"